$bg-color1: #fff;
$color-logo: #d9703a;
$color1: #ffee7b;
$color2: #000;
$color3: #fff;
$color4: #2E4C4C;
$color5: #222;
$color6: rgba(34, 34, 34, 0.5);
$color7: #12ad9b;
$color8: #3880aa;
$color9: rgba(56, 128, 170, 0.1);
$color10: rgba(171, 161, 144, 0.3);
$color11: #b5b5b5;
$color12: rgba(34, 34, 34, 0.06);

$color-success: rgba(44, 171, 63, 0.9);
$color-info: rgba(26, 127, 171, 0.9);
$color-error: rgba(215, 44, 35, 0.9);
$color-status: rgba(171, 161, 144, 0.9);

$color-facebook: #4267B2;
$color-google: #DB4D37;
$color-twitter: #00ACEE;