@import "reset";
@import "ionicons/ionicons";

$bg-color1: #fff;
$color1: #ffee7b;
$color2: #000;
$color3: #fff;
$color4: #2E4C4C;
$color5: #222;
$color6: rgba(34, 34, 34, 0.5);
$color7: #12ad9b;
$color8: #3880aa;
$color9: rgba(56, 128, 170, 0.1);
$color10: rgba(171, 161, 144, 0.3);
$color11: #b5b5b5;
$color12: rgba(34, 34, 34, 0.06);

$color-success: rgba(44, 171, 63, 0.9);
$color-info: rgba(26, 127, 171, 0.9);
$color-error: rgba(215, 44, 35, 0.9);
$color-status: rgba(171, 161, 144, 0.9);

$height_nav_shrink: 60px;
$pdfWidth: 1100px;

$ratio_w_h_card: 1.172;
$card_width: 275px;
$h1_height: 42px;

a {
  text-decoration: none;
  color: $color4;
}

footer {
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: -2cm;
  left: 0cm;

  width: 100%;
  height: 2cm;
  background-color: $color12;

  line-height: 16px;
  border-top: 1px solid $color2;

  font-family: 'open sans','Helvetica Neue', Arial , sans-serif;
  font-size: 10px;
  font-weight: 100;


  & .common_footer {
    & .infos {
      padding-left: 20px;
      width: 40%;
      float: left;
      & i {
        padding-right: 3px;
      }
      & i:not(:first-of-type){
        padding-left: 10px;
      }
    }

    & .copyright {
      padding-right: 20px;
      width: 40%;
      float: right;
      position: relative;

      & p {
        position: absolute;
        right: 20px;

        &:last-of-type {
          bottom: -2cm;
        }
        & img {
          width: 35px;
        }
      }
    }
  }
}

