input[type=checkbox] {
  visibility: hidden;
}

.check-style3 {
  display: inline-block;
  text-align: left;
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px 10px;

  border-radius: 50px;
  position: relative;

  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

  &:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }

  &:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: $color1;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
  }

  & label {
    display: block;
    width: 34px;
    height: 20px;

    border-radius: 50px;

    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  }


}

input[type=checkbox]:checked + label {
  left: 43px;
}



